/*Header*/

main {
    background-image: linear-gradient(rgb(140, 201, 255),rgba(0, 132, 208, 0.651),rgba(0, 6, 185, 0.651),blue,red,red);
    margin-top: 0.8em;
    display: grid;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}





/*end of header*/

#charBanner {
    height: 50vh;
background-size: 100%;

    background-image:linear-gradient(rgba(0, 0, 255, 0.459),rgba(0, 0, 255, 0.459)), url(comic_blue.jpg);
    border-top:solid black 10px;
}

h1 {
    font-size: 7em;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    margin-top: 20vh;
    margin-bottom: auto;
}

#avengersTitle {
    font-size: 4.5em;
padding-left:auto;
padding-right: auto;
padding-top:0.5em;
padding-bottom:0.5em;
text-align: center;

    background-color: black;
    color:white;
    width:100%;
    

}

#iconGrid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
  
  
    width: 80vw;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ave1 ave2 ave3"
        "ave4 ave5 ave6";
       margin-bottom:3%;
}

.aveIcon {

    background-repeat: no-repeat;

    width: 45%;
  
    background-size: 100%;

    margin: auto;
    margin-top: 50px;

    
    




}



.aveIcon:hover>h4,
h4:hover {
    color: rgb(229, 0, 0);
    border-top: solid rgb(229, 0, 0) 5px;
    border-bottom: solid rgb(229, 0, 0) 5px;
}

#capIcon {

    grid-area: ave1;
    background-image: url(../Avenger_Icons/cap_black_crop.png);
    background-size: 130%;
    background-position-x: -1em;




}

#capIcon:hover {

    background-image: url(../Avenger_Icons/cap_red_crop.png);

}


#ironIcon {
    grid-area: ave2;
    background-image: url(../Avenger_Icons/iron_man_black.png);
    background-position-x: 2em;
    background-size: 70%;


}

#ironIcon:hover {

    background-image: url(../Avenger_Icons/iron_man_red.png);

}


#hulkIcon {
    grid-area: ave3;

    background-image: url(../Avenger_Icons/hulk_black.png);

}

#hulkIcon:hover {

    background-image: url(../Avenger_Icons/hulk_red.png);

}

#thorIcon {
    grid-area: ave4;
    background-image: url(../Avenger_Icons/thor_black.png);

    background-size: 160%;
    background-position-x: -4em;
    background-position-y: -0.3em;


}


#thorIcon:hover {

    background-image: url(../Avenger_Icons/thor_red.png);

}

#widowIcon {
    grid-area: ave5;
    background-image: url(../Avenger_Icons/widow_black.png);

}

#widowIcon:hover {
    background-image: url(../Avenger_Icons/widow_red.png);
}


#hawkIcon {
    grid-area: ave6;
    background-image: url(../Avenger_Icons/hawk_black_crop.png);
    background-size: 120%;

}

#hawkIcon:hover {
    background-image: url(../Avenger_Icons/hawk_red.png);
}

h4 {
    text-align: center;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    border-top: solid rgb(0, 0, 0) 5px;
    border-bottom: solid rgb(0, 0, 0) 5px;
    background-color: white;
    padding-top: 4%;
    padding-bottom: 2%;

    margin-top: 6em;
}

/*Avengers info div*/

.identity {
  
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "picture name"
        "picture info";
    background-color: rgb(0, 17, 78);
}

#capAmericaPic {
    grid-area: picture;
    background-image: url(../avengers_pictures/steve_rogers.webp);
    background-size: cover;
}

#starkPic {
    grid-area: picture;
    background-image: url(../avengers_pictures/Tony_Stark.webp);
    background-size: cover;
    background-position-x: -6em;
}

#brucePic {
    grid-area: picture;
    background-image: url(../avengers_pictures/bruce_banner.webp);
    background-size:cover;
}

#thorPic {
    grid-area: picture;
    background-image: url(../avengers_pictures/thor_endgame.jpg);
    background-size: cover;
}


#natPic {
    grid-area: picture;
    background-image: url(../avengers_pictures/black_widow.webp);
    background-size: cover;
}


#clintPic {
    grid-area: picture;
    background-image: url(../avengers_pictures/hawkeye_endgame.webp);
    background-size: cover;
}


.avPicture {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 27vw), calc(100% - 10vw) 100%, 0 100%);


}

h5 {
    margin-top: 1em;
    grid-area: name;
    font-size: 3em;
    margin-left: 3em;
    color: white;
    text-decoration: underline;

}

h6 {

    grid-area: name;
    margin-top: 3.5em;
    font-size: 2em;
    margin-left: 4.6em;
    color: white;


}

.identity>p {
    grid-area: info;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    font-style: normal;
    width: 70%;
    margin-left: 7.5em;
    line-height: 1.3em;
    color: white;
    margin-top: auto;
    margin-bottom: auto;

}

.hidden {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 1s;
    opacity: 1;
}


.mainAvengerDiv {
    width: 100%;
    height: 90vh;
    position: relative;
   margin-bottom: 0vh;
    
}

.identity {
    width: 100%;
    height: 71vh;
    position: absolute;
}

.mainAvengerDiv .identity:first-child {
    z-index: 1;
}

.mainAvengerDiv div:nth-child(2) {
    z-index: 0;
}


#villains {
    margin-top: 3em;
    
     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -ms-flex-align: center;
    row-gap: 1.5em;
    margin-bottom:3em;

}

.villainImage {
    width: 200px;
    height:400px;
  
    background-size: 100%;
    border: white solid 4px;
    transition: transform 0.3s;


}

.heroName{
    margin:auto;
    text-align:center;
    margin-top:80%;
    opacity:0;
}
.villainImage:hover > .heroName, .heroName:hover {
      opacity:1;
      color:white;
}

.villainImage:hover {
    transform: scale(1.1);
}

#vTitle {
    margin-top:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left: 0.5em;
    font-size: 6em;
    background-color: black;
    color:white;
    width:60vw;

}

#loki {
    /* background-size: 210%;
    background-position-x: -8em;
    background-position-y: 0em; */
    background-size: cover;
    background-position:center;

    background-image: url(../avengers_pictures/strange_endgame.jpg);
}

#loki:hover {
    /* background-size: 210%;
    background-position-x: -8em;
    background-position-y: 0em; */
    background-size: cover;
    background-position:center;

    background-image:linear-gradient(rgba(255, 255, 255, 0.393),blue), url(../avengers_pictures/strange_endgame.jpg);
}
#thanos {
    background-size: cover;
    background-position:center;
    /* background-size: 130%; */
    background-image: url(../avengers_pictures/fury_endgame.jpg);
}

#thanos:hover {
    background-size: cover;
    background-position:center;
    /* background-size: 130%; */
    background-image:linear-gradient(rgba(255, 255, 255, 0.393),blue), url(../avengers_pictures/fury_endgame.jpg);
    
}

#ultron {
    background-size: cover;
    background-position:center;
  
    background-image: url(../avengers_pictures/spider_man_avengers.webp);
   
}

#ultron:hover {
    background-size: cover;
    background-position:center;
   
    background-image: linear-gradient(rgba(255, 255, 255, 0.393),blue),url(../avengers_pictures/spider_man_avengers.webp);
    
   
}

#wanda {
background-size: cover;
background-position:center;

    background-image:url(../avengers_pictures/black_panther.jpg);
}

#wanda:hover {

    background-size: cover;
    background-position:center;
  
    background-image: linear-gradient(rgba(255, 255, 255, 0.393),blue),url(../avengers_pictures/black_panther.jpg);
    }
    

#killmonger {
  
    background-size: cover;
    background-position-x: -4em; 
    background-image: url(../avengers_pictures/captain_marvel.jpg);
}

#killmonger:hover {
   
    background-position-x: -4em; 
    background-size: cover;

    background-image: linear-gradient(rgba(255, 255, 255, 0.393),blue),url(../avengers_pictures/captain_marvel.jpg);
}

#mysterio {
    background-size: cover;

     /* background-size: 170%; */
    background-position-x: -5em;
    background-image: url(../avengers_pictures/ant_man_endgame.jpg);
}

#mysterio:hover {

    /* background-size: 170%;
    background-position-x: -4em; */

    background-image: linear-gradient(rgba(255, 255, 255, 0.393),blue),url(../avengers_pictures/ant_man_endgame.jpg);
}









@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width:1300px){
    #iconGrid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "ave1 ave2"
        "ave3 ave4"
        "ave5 ave6";
    }
}

@media screen and (max-width:1100px){
    #iconGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "ave1"
        "ave2"
        "ave3"
        "ave4"
        "ave5"
        "ave6";
    }
}
