body {
    background-color: rgb(0, 0, 0);
}

/* header {
    background: rgb(70, 118, 206);
    height:15vh;
    display: grid;
    grid-template-columns: 17% 66% 17%;
    grid-template-areas: "MarLogo pages contactIcons";

  
        font-size: 1.3em;

        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      


#headerLogo {

   
    grid-area: MarLogo;
    max-width:50%;
    margin-left:2em;
    margin-top:auto;
    margin-bottom:auto;

    

}

#logosBar {
    grid-area: contactIcons;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:2em;
 
}

.contacts{

    background: red;
    max-width:8%;
    border-radius:15px;
    padding:0.5em;
    margin-left:1em;
    float:right;
}

nav {

    grid-area:pages;
    text-align:center;
    margin-left:3em;
    height:15vh;

    width:96%;

    background-image:url("/images/blue_lines_glow.png");
    background-size:105%;
    background-position-x: 45.5em;
 
}

.navTabs {
 margin-left:4em;

 color:white;



}

#navBar{
    margin-top:2em;
    margin-right:6.2em;
   
   
} */


#gamesBanner {
    background-image: linear-gradient(rgba(255, 0, 0, 0.7),rgba(255, 0, 0, 0.7)), url(dot_pattern.jpg);
    background-size: 30%;
    font-size:6em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    text-align: center;
    border-bottom: black solid 8px;
    border-top: black solid 8px;
    
}

#gamesBanner>h1 {
   padding-top:70px;
   padding-bottom:70px;
}

#controller {
    width:15%;
    display:flex;
    float:left;
    transform: rotate(55deg);
  margin-top:-270px;
    margin-left:100px;
}

#controller2 {
 width:15%;
  display:flex;
  float:right;
  transform: rotate(-55deg) scaleX(-1);
  margin-top:-270px;
  margin-right:100px;


  }


.gameDiv {
 
    
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows:1fr 1fr;
    grid-template-areas: "picture gameText"
  "picture video";
    margin-top:2em;
    border-top:white solid 6px;
    border-bottom:white solid 6px;
    
}

.divGameImage>.gamePoster {
    width:80%;

/*  
    margin-left: 20%;
  
    margin-top: 12.5%; */

    


box-shadow: -10px 10px 15px rgb(0, 179, 255);

transition: 0.3s;
    

}





.divGameImage {
    grid-area:picture;
    background-color: black;
    /* height:80vh; */
    margin-bottom: 70px;
    margin-top: 70px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border:white solid 6px;
    border-left: 0px;
    transition: 0.2s;
    padding:100px;
   
  
    
}

.divGameImage:hover {
    border-color: red;
}

.divGameImage:hover > .gamePoster, .gamePoster:hover{
    box-shadow: -10px 10px 15px rgb(255, 0, 0);
}

.gameDiv>h3 {
  
    grid-area:gameText;
    color:white;
    font-size:2.5em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2em;
    margin-left:3.3em;
  

    
}
.gameDiv>p {
  
    grid-area:gameText;
    margin-top:6em;
    width:70%;
    color:white;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin-left:5.2em;

}
.gameDiv>iframe {

        /* margin-top:-2.5em; */
       padding-left:130px;
   
    grid-area:video;
    width:70%;
    padding-bottom: 70px;

    
  
  
 
   
    

}

#spiderDiv {
    background-image: linear-gradient(rgba(0, 149, 255, 0.9),rgba(0, 0, 255, 0.7),rgba(0, 0, 255, 0.6)),url(../game_backgrounds/spider_city.jpg);
   background-size:cover;
   margin-top:0.2em;

   
}

#fortniteDiv {
    background-image:  linear-gradient(rgba(0, 149, 255, 0.9),rgba(0, 0, 255, 0.7),rgba(0, 0, 255, 0.6)),url(../game_backgrounds/fortnite_wallpaper.webp);
    background-size:cover;
  

}

#marSnap{
    background-image:linear-gradient(rgba(0, 149, 255, 0.9),rgba(0, 0, 255, 0.7),rgba(0, 0, 255, 0.6)),url(../game_backgrounds/marvel_snap.png); 
   
}

#contChamp {
    background-image: linear-gradient(rgba(0, 149, 255, 0.9),rgba(0, 0, 255, 0.7),rgba(0, 0, 255, 0.6)), url(../game_backgrounds/contest_champions.jpg);
    background-size: cover;
}
#guardiansGalaxy {
    background-image: linear-gradient(rgba(0, 149, 255, 0.9),rgba(0, 0, 255, 0.7),rgba(0, 0, 255, 0.6)), url(../game_backgrounds/guardians_game.webp);
    background-size: cover;
}

#avengersGameWallpaper{
    background-image: linear-gradient(rgba(0, 149, 255, 0.9),rgba(0, 0, 255, 0.7),rgba(0, 0, 255, 0.6)), url(../game_backgrounds/avengers_game_wallpaper.jpg);
    background-size: cover;
}

footer{
  
    height:30vh;
    background-color: black;

}

#footerLogo {
    width:10%;

    margin-top:3em;
    margin-left:45%;
    
}

#footerPara{
    color:white;
    text-align:center;
    margin-top:1em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width:1000px){
    .gameDiv{
        grid-template-columns: auto;
        grid-column: span 1;
    }
}


